<div class="container">

  
    <h2 class="title-h2">Articles</h2>
  
    <!-- Feel free to remove this holder -->
    <h3 class="title-h3">Featured Video</h3>
    <ng-container *ngIf="isLoading">
      <h1 class="spinner"></h1>
      <br>
      <h2 class="spinner-text">Please wait for a moment...</h2>
    </ng-container>
    <div class="article-video" (click)="goto()">

      <ng-container *ngIf="videoArticleHighlight && !isLoading">
        <h2>{{videoArticleHighlight.title}}</h2>
        <article-video-component [article]="videoArticleHighlight"></article-video-component>
      </ng-container>
    </div>
  
    <!-- Feel free to remove this holder -->
    <h3>List of Articles</h3>
  
    <!-- To put the articles inside this container -->
    <div class="article-container">
      <label for="article-selector">Filter By: </label>
      <select name="article-selector" class="article-selector" [(ngModel)]="filter" (change)="articleFilter()">
        <option [ngValue]="null">All</option>
        <option *ngFor="let choice of choices; " [value]="choice[0]">{{choice[1]}}</option>
      </select>
      <div class="article-list-holder">
        <ng-container *ngIf="isLoading">
            <div class="spinner"></div>
        </ng-container>
        <ng-container *ngIf="articles  && !isLoading">
          <article-renderer-component [articles]="articles"></article-renderer-component>
        </ng-container>
      </div>
    </div><!--.article-container-->
  </div>
  