/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

article-renderer-component{
    display: none;
}

.article-list-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 2rem 3rem 2rem 3rem;
}

.article-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border:1px solid;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 240px;
    max-width: 100%;
    height: 220px;
    max-height: 100%;
    padding: 5px;
    position: relative;
    transition: padding 0.5s ease;
    
}

.article-item:hover{
    cursor: pointer;
    padding: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin:0;
}

.article-item h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: large;
}

.article-item p {
    color:rgb(85, 85, 85);
    font-size: small;
    overflow: hidden;
}


.article-item img{
    width: 100%;
    max-height: 160px;
    margin-bottom: 5px;
}

.article-selector{
    right:0;
}

.article-video h2{
    text-align: center;
}
